/.classpath
/.project

/.gradle/
/.settings/
/target/

/ltexls-core/.classpath
/ltexls-core/.project

/ltexls-core/.settings/
/ltexls-core/target/

/ltexls-languagetool-patch/.classpath
/ltexls-languagetool-patch/.project

/ltexls-languagetool-patch/.settings/
/ltexls-languagetool-patch/target/
