/.classpath
/.project

/.gradle/
/.settings/

/ltexls/bin/
/ltexls/build/

/ltexls-languagetool-patch/.classpath
/ltexls-languagetool-patch/.project

/ltexls-languagetool-patch/.settings/
/ltexls-languagetool-patch/bin/
/ltexls-languagetool-patch/build/
